@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
// Google Fonts - Montserrat - Medium (500) - https://fonts.google.com/specimen/Montserrat?query=montserrat

*{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: #123;
}

header{
    margin-bottom: 50px;
}
main{
    padding: 25px;
    display: grid;
    justify-content: center;

    nav{
        justify-self: center;
        margin-bottom: 35px;

        .nav-btn{
            text-decoration: none;
            color: black;
            background: white;
            padding: 15px;
            border-radius: 5px;
            border: 2px solid white;
        }

        // Menu Item 1 - On hover animation
        #menu1{
            transition: all 1s;
            background: white;

            &:hover{
                background: violet;
                animation: rainbow 1.5s infinite;

                        @keyframes rainbow {
                            0% {
                                background: violet;
                                border: 2px solid violet;
                            }

                            25%{
                                background: indigo;
                                border: 2px solid indigo;
                                color: white;
                            }

                            50% {
                                background: blue;
                                border: 2px solid blue;
                            }

                            75%{
                                background: green;
                                border: 2px solid green;
                            }

                            100% {
                                background: yellow;
                                border: 2px solid yellow;
                                color: black;
                            }
                        }
            }
        }


        // MENU ITEM 2
        #menu2 {
            transition: all 1s;
            background: white;
            

            &::after{
                content: "Menu Item 2";
                transition: .3s all;
            }

            &:hover::after{
                content: "Magic Trick !";
                transition: .3s all;
            }

            &:hover {
                animation: styleChange .35s ;
                animation-fill-mode: forwards; // this prevents the animation from ending and going back to the start state.


                @keyframes styleChange {
                    0% {
                        background: white;
                        color: black;
                        border: 2px solid white;
                    }

                    100%{
                        background: none;
                        color: white;
                        border: 2px solid white;

                    }
                }
            }
        }

        #menu3 {
            transition: all .35s;
            background: white;

            &:hover {
                animation: classicMode .35s;
                animation-fill-mode: forwards; // this prevents the animation from ending and going back to the start state.


                @keyframes classicMode {
                    0% {
                        background: white;
                        color: black;
                        border: 2px solid white;
                    }

                    100% {
                        border-radius: 0;
                        background: black;
                        color: white;
                        border: 2px solid black;
                        border-bottom: 2px solid red;
                    }
                }
            }
        }


    }

    .btn {
        justify-self: center;
        width: 150px;
        margin: 15px;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        color: black;
        background: whitesmoke;
    }

    .anim1{ // Default styling and on HOVER OUT
        background: yellowgreen;
        transition: all .3s;

        &:hover{ // ON HOVER
            border-radius: 25px;
            
            color: green;
            background: white;
            transform: scaleX(1.5) scaleY(2);
            transition: all .3s;
        }

        &:focus{ // ONCLICK STATE
            animation: scaleAndBg .5s;
        }

        @keyframes scaleAndBg {
            0%{
                color: green;
                background: white;
                transform: scaleX(1.5) scaleY(2);
            }
            50%{
                color: white;
                background: red;
                transform: scaleX(1) scaleY(1);
            }
            100%{
                color: green;
                background: white;
                transform: scaleX(1.5) scaleY(2);
            }
        }
    }

    // BUTTON 2 - CLICK AND HOLD

    .anim2{
        color: white;
        background: rebeccapurple;
        transition: all .3s;
        border: 2px solid rebeccapurple;

        &:hover {
            // ON HOVER
            width: 500px;
            background: white;
            color: black;
        }

        &:active {
            // ONCLICK STATE
            animation: loadUp 3s;
            position: relative;
        }

        @keyframes loadUp {
            0% {
                width: 500px;
            }

            50% {
                width: 120px;
            }

            100% {
                width: 500px;;
            }
        }
    }

    img{
        margin: 5px;
        width: 200px;
        justify-self: center;
    }



    .img1{
        color: white;
        background: rebeccapurple;
        transition: all .3s;
        border: 2px solid rebeccapurple;

        &:hover{
            opacity: .3;
            transition: all .3;
            transform: rotate(180deg) scale(2)
        }
    }

        .img2 {
            color: white;
            transition: all .3s;
            border: 2px solid red;

            &:hover {
                opacity: .3;
                transition: all .3;
                transform: translateY(100px) scale(0.5) translateX(200px)
            }
        }

    // END OF DOC
}
